@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');

/*Рисунки*/

.cat {
    position: absolute;
    user-select: none;
    padding-left: 1625px;
    margin-top: -200px;
    z-index: -2;
}

.zavitushka5 {
    user-select: none;
    position: absolute;
    padding-top: 200px;
    z-index: -1;
}

.star {
    position: absolute;
    margin-top: 300px;
    padding-left: 1300px;
    z-index: -3;
    user-select: none;
}

/* Frames*/

.caption {
    position: absolute;
    margin-left: 25px;
    margin-top: -100px;
    font-family: "Fira Sans Extra Condensed";
    font-size: 48px;
    font-weight: 300;
}

.whydrawingisgood {
    display: flex;
    margin-top: 4100px;
    width: 100%;
}


.text {
    font-size: 18px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
}

.circle_frame1{
    position: absolute;
    display: inline-block;
    width: 454px;
    height: 83px;
    border-radius: 20px;
    border: 2px solid #0000001A;
    margin-left: 40px;
}

.circle_frame2 {
    left: 750px;
    position: absolute;
    display: inline-block;
    width: 444px;
    height: 83px;
    border-radius: 20px;
    border: 2px solid #0000001A;
    margin-left: 40px;
}

.circle_frame3 {
    left: 1460px;
    position: absolute;
    display: inline-block;
    width: 368px;
    height: 83px;
    border-radius: 20px;
    border: 2px solid #0000001A;
    margin-left: 40px;
}

.second_ryad {
    margin-top: 100px;
}

.circle_frame4 {
    position: absolute;
    display: inline-block;
    width: 772px;
    height: 83px;
    border-radius: 20px;
    border: 2px solid #0000001A;
    margin-left: 40px;
}

.circle_frame5 {
    left: 1315px;
    position: absolute;
    display: inline-block;
    width: 514px;
    height: 83px;
    border-radius: 20px;
    border: 2px solid #0000001A;
    margin-left: 40px;
}

.third_ryad {
    margin-top: 200px;
}

.circle_frame6 {
    position: absolute;
    display: inline-block;
    width: 392px;
    height: 83px;
    border-radius: 20px;
    border: 2px solid #0000001A;
    margin-left: 40px;
}

.circle_frame7 {
    left: 700px;
    position: absolute;
    display: inline-block;
    width: 392px;
    height: 83px;
    border-radius: 20px;
    border: 2px solid #0000001A;
    margin-left: 40px;
}

.circle_frame8 {
    left: 1435px;
    position: absolute;
    display: inline-block;
    width: 392px;
    height: 83px;
    border-radius: 20px;
    border: 2px solid #0000001A;
    margin-left: 40px;
}