.ourProgramImage {
    position: absolute;
    margin-top: 2300px;
    padding-left: 750px;
}

.circle_frames {
    display: flex;
    margin-top: 2400px;
    position: absolute;
    width: 1300px; /* Установите ширину контейнера по вашему выбору */
}

.circle_frames::after {
    flex: 1; /* Занимает все доступное пространство */
}

.circle_frame1,
.circle_frame2,
.circle_frame3 {
    display: inline-block;
    width: 400px; /* Установите ширину circle-frame по вашему выбору */
    height: 566px;
    border-radius: 50px;
    border: 2px solid #0000001A;
    margin-left: 20px;
}


