@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');

@media screen and (max-width: 1920px) {
    /* Рисунки */
    .ourProgramImage {
        position: absolute;
        margin-top: 130%;
        padding-left: 38%;
    }

    .zavitushka2 {
        position: absolute;
        margin-top: 125%;
        padding-left: 85%;
        width: 100%;
        max-width: 385px;
        height: 715px;
    }

    .butterfly {
        position: absolute;
        margin-top: 155%;
        paddng-left: 3%;
    }

    .zavitushka3 {
        position: absolute;
        margin-top: 197%;
        margin-left: -3%;
        z-index: 1;
    }

    .zavitushka4 {
        position: absolute;
        margin-top: 215%;
        margin-left: 37%;
    }

    /* По программе */
    .firstryad {
        display: flex;
        margin-top: 137%;
        position: absolute;
        width: 100%;
    }

    .circle_frame1,
    .circle_frame2,
    .circle_frame3 {
        position: absolute;
        display: inline-block;
        width: 100%;
        max-width: 422px;
        height: 566px;
        border-radius: 50px;
        border: 2px solid #0000001A;
        margin-left: 40px;
    }

    .circle_frame1 {
        position: absolute;
    }
    .circle_frame2 {
        margin-left: 39%;
    }
    .circle_frame3 {
        margin-left: 76%;
    }
    .perviyrisunok, .vtoroyrisunok, .tretiyrisunok {
        padding-top: 4%;
        margin-left: 5%;
    }

    .text_caption {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        padding-top: 2%;
        text-align: center;
    }

    .text_creation {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        margin-top: 5%;
        text-align: center;
    }

    .schedule {
        user-select: none;
        position: absolute;
        cursor: pointer;

        font-family: Roboto;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;

        margin-top: 5%;
        margin-left: 33%;
        cursor: pointer;

        width: 149px;
        height: 51px;
        border-radius: 50px;
        border: 1px solid #000000;
    }
    /* При наведении и нажатии*/
    .schedule:hover {
         background-color: #FFF06D;
    }
    .schedule:active {
         background-color: #FFF06D;
    }

    .secondryad {
        display: flex;
        margin-top: 175%;
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .circle_frame4,
    .circle_frame5,
    .circle_frame6 {
        position: absolute;
        display: inline-block;
        max-width: 422px;
        width: 100%;
        height: 566px;
        border-radius: 50px;
        border: 2px solid #0000001A;
        margin-left: 2%;
    }

    .circle_frame4 {
        position: absolute;
        z-index: 3;
    }
    .circle_frame5 {
        margin-left: 39%;
    }
    .circle_frame6 {
        margin-left: 76%;
    }

}


@media screen and (min-width: 1200px) and (max-width: 1600px) {

    /* Рисунки */
    .ourProgramImage {
        position: absolute;
        margin-top: 150%;
        padding-left: 35%;
    }

    .zavitushka2 {
        position: absolute;
        margin-top: 145%;
        padding-left: 71.5%;
        width: 100%;
        max-width: 385px;
        height: 715px;
    }

    .butterfly {
        position: absolute;
        margin-top: 180%;
        paddng-left: 3%;
        z-index: -1;
    }

    .zavitushka3 {
        position: absolute;
        margin-top: 230%;
        margin-left: -3%;
        z-index: 1;
    }

    .zavitushka4 {
        position: absolute;
        margin-top: 255%;
        margin-left: 37%;
    }

    /* По программе */
    .firstryad {
        display: flex;
        margin-top: 157%;
        position: absolute;
        width: 100%;
    }

    .circle_frame1,
    .circle_frame2,
    .circle_frame3 {
        position: absolute;
        display: inline-block;
        width: 100%;
        max-width: 422px;
        height: 566px;
        border-radius: 50px;
        border: 2px solid #0000001A;
        margin-left: 2%;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .circle_frame1 {
        position: absolute;
    }
    .circle_frame2 {
        margin-left: 35%;
    }
    .circle_frame3 {
        margin-left: 68%;
    }
    .perviyrisunok, .vtoroyrisunok, .tretiyrisunok {
        padding-top: 4%;
        margin-left: 5%;
    }

    .text_caption {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        padding-top: 2%;
        text-align: center;
    }

    .text_creation {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        margin-top: 5%;
        text-align: center;
    }

    .schedule {
        user-select: none;
        position: absolute;
        cursor: pointer;

        font-family: Roboto;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;

        margin-top: 5%;
        margin-left: 33%;
        cursor: pointer;

        width: 149px;
        height: 51px;
        border-radius: 50px;
        border: 1px solid #000000;
    }
    /* При наведении и нажатии*/
    .schedule:hover {
        background-color: #FFF06D;
    }
    .schedule:active {
        background-color: #FFF06D;
    }

    .secondryad {
        display: flex;
        margin-top: 202%;
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .circle_frame4,
    .circle_frame5,
    .circle_frame6 {
        position: absolute;
        display: inline-block;
        max-width: 422px;
        width: 100%;
        height: 566px;
        border-radius: 50px;
        border: 2px solid #0000001A;
        margin-left: 2%;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .circle_frame4 {
        position: absolute;
        z-index: 3;
    }
    .circle_frame5 {
        margin-left: 35%;
    }
    .circle_frame6 {
        margin-left: 68%;
    }

}
