.logo {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    cursor: pointer;
}

.logo img {
    width: 60px;
    height: 60px;
}

.header {
    width: 100%;
    height: 124px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a {
    color: black;
    text-decoration: none; /* Убираем подчеркивание */
    font-family: Roboto;
    font-size: 20px;
}

.layer {
    margin-left: 233px;
}

.layer li {
    align-items: flex-start;
    display: inline; /* Чтобы элементы списка шли один за другим */
    margin: 0 25px 0 10px; /* Добавляем небольшие отступы между элементами списка */
    text-decoration: none; /* Убираем подчеркивание */
}

.layer2 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-right: 10px;
}

.layer2 li {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.layer2 li:nth-child(2),.layer2 li:nth-child(3) {
    cursor: pointer;
}

/* чтобы выводились картинки под linkami */
.layer li:nth-child(1):hover::after {
    content: "";
    display: block;
    width: 129px;
    height: 32px;
    background-image: url('/public/png/odindlyaclicka.png');
    background-size: cover;
    position: absolute;
    bottom: 89.5%;
    left: 35.5%;
    transform: translateX(-50%);
}

.layer li:nth-child(2):hover::after {
    content: "";
    display: block;
    width: 107px;
    height: 16px;
    background-image: url('/public/png/dvadlyaclicka.png');
    background-size: cover;
    position: absolute;
    bottom: 90.5%;
    left: 43%;
    transform: translateX(-50%);
}

.layer li:nth-child(3):hover::after {
    content: "";
    display: block;
    width: 126px;
    height: 14px;
    background-image: url('/public/png/tridlyaclicka.png');
    background-size: cover;
    position: absolute;
    bottom: 90.5%;
    left: 50%;
    transform: translateX(-50%);
}

.layer li:nth-child(4):hover::after {
    content: "";
    display: block;
    width: 107px;
    height: 16px;
    background-image: url('/public/png/chetiredlyaclicka.png');
    background-size: cover;
    position: absolute;
    bottom: 90.5%;
    left: 57%;
    transform: translateX(-50%);
}

.layer li:nth-child(5):hover::after {
    content: "";
    display: block;
    width: 62px;
    height: 11px;
    background-image: url('/public/png/pyatdlyaclicka.png');
    background-size: cover;
    position: absolute;
    bottom: 90.5%;
    left: 63%;
    transform: translateX(-50%);
}