/*потом исправить все марджины, потому что это очень плохо))))*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');

/*Лучи*/
.beam {
    position: absolute;
    padding-top: 200px;
    margin-left: 54px;
    user-select: none;
}

.beam1 {
    position: absolute;
    margin-left: 350px;
    user-select: none;
}

.beam2 {
    position: absolute;
    margin-left: 350px;
    top: 580px;
    user-select: none;

}

.beam3 {
    position: absolute;
    top: 70px;
    margin-left: 750px;
    user-select: none;
}

.beam4 {
    position: absolute;
    top: 70px;
    margin-left: 1050px;
    user-select: none;
}

.beam5 {
    position: absolute;
    top: 120px;
    margin-left: 1350px;
    user-select: none;

}

.beam6 {
    position: absolute;
    top: 420px;
    margin-left: 1450px;
    user-select: none;

}

.beam7 {
    position: absolute;
    top: 620px;
    margin-left: 1350px;
    user-select: none;

}

.smiles a {
    position: absolute;
    margin-top: 204px;
    margin-left: 742px;
    font-family: "Fira Sans Extra Condensed";
    font-weight: 300;
    font-size: 48px;
    color: black;
}

.flower {
    position: absolute;
    margin-left:1785px;
    user-select: none;
}

.child_smiles img {
    user-select: none;
    position: absolute;
    padding-left: 725px;
    margin-top: 260px;
    height: 83px;
    width: 464px;
}

.studio {
    position: absolute;
    margin-top: 360px;
    padding-left: 760px;

    font-family: Roboto;
    font-size:  18px;
    font-weight: 400;
    text-align: center;
}

.home {
    user-select: none;
    position: absolute;
    margin-top: 370px;
}

.button {
    user-select: none;
    position: absolute;
    cursor: pointer;

    font-family: Roboto;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;

    top: 550px;
    left: 810px;

    width: 249px;
    height: 51px;
    border-radius: 50px;
    border: 1px solid #000000;
    margin-left: 40px;

    /* При наведении и нажатии*/
    &:hover {
     background-color: #FFF06D;
 }
    &:active {
     background-color: #FFF06D;
 }

}

.lyambda {
    user-select: none;
    position: absolute;
    padding-left: 250px;
    margin-top: 650px
}
