@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');

@media(max-width: 1920px) {

    .about_studio {
        padding-left: 25px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 48px;
        font-weight: 300;
    }

    .caption {
        position: absolute;
        margin-top: 44.5%;
    }

    .our_goal {
        position: relative;
        margin-top: 40px;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 0.03em;
    }

    .u_nas {
        position: relative;
        margin-top: 40px;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 0.03em;
    }

    .v_nashey {
        position: relative;
        margin-top: 40px;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 0.03em;
    }

    .risunok {
        max-width: 530px;
        width: 100%;
        pointer-events: none;
        position: absolute;
        padding-left: 72%;
        margin-top: 40%;
        user-select: none;
    }

    .radi {
        pointer-events: none;
        position: absolute;
        padding-left: 35%;
        margin-top: 63%;
        user-select: none;
    }

    .mark {
         pointer-events: none;
         position: absolute;
         margin-top: 50.3%;
         user-select: none;
     }

    .heart1 {
        pointer-events: none;
        position: absolute;
        padding-left: 30%;
        margin-top: 66%;
        user-select: none;

    }

    .heart2 {
        pointer-events: none;
        position: absolute;
        padding-left: 50%;
        margin-top: 60%;
        user-select: none;
    }

    .zavitushka {
        max-width: 480.28px;
        width: 100%;
        pointer-events: none;
        position: absolute;
        padding-left: 77%;
        margin-top: 60%;
    }
}


@media screen and (max-width: 1600px) {

    .about_studio {
        padding-left: 25px;
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 48px;
        font-weight: 300;
    }

    .caption {
        position: absolute;
        margin-top: 44.5%;
    }

    .our_goal {
        position: relative;
        margin-top: 40px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.04em;
    }

    .u_nas {
        position: relative;
        margin-top: 40px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.04em;
    }

    .v_nashey {
        position: relative;
        margin-top: 40px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.04em;
    }

    .risunok {
        max-width: 530px;
        width: 100%;
        pointer-events: none;
        position: absolute;
        padding-left: 65%;
        margin-top: 40%;
        user-select: none;
    }

    .radi {
        max-width: 262px;
        width: 100%;
        pointer-events: none;
        position: absolute;
        padding-left: 35%;
        margin-top: 66.5%;
        user-select: none;
    }

    .mark {
        max-width: 120px;
        width: 100%;
        pointer-events: none;
        position: absolute;
        margin-top: 52%;
        user-select: none;
    }

    .heart1 {
        max-width: 48.53px;
        width: 100%;
        pointer-events: none;
        position: absolute;
        padding-left: 30%;
        margin-top: 70%;
        user-select: none;
    }

    .heart2 {
        max-width: 69.4px;
        width: 100%;
        height: 82.15px;
        pointer-events: none;
        position: absolute;
        padding-left: 53%;
        margin-top: 62%;
        user-select: none;
    }

    .zavitushka {
        max-width: 480px;
        width: 100%;
        pointer-events: none;
        position: absolute;
        padding-left: 70%;
        margin-top: 65%;
    }
}